*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        background-color: rgb(4, 1, 23);
    }
    .hey{
        background-color: red;
        text-align:center;
        margin: -8%;
        margin-bottom: 5%;
        margin-right: 0%;
    }
    .loader{
        margin-left: 10%;
        position: relative;
        height: 300px;
        width: 300px;
    }
    .loader span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width:100%;
        transform:rotate(calc(360deg*var(---i)));
    }
    .loader span::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: transparent;
        border: 4px solid rgb(99, 194, 220);
        box-shadow: 0 0 30px rgb(22, 32, 32),
        -30px -30px 0 rgb(0, 187, 255),
        -30px -30px 20px rgb(148, 232, 221),
        30px 30px 0 rgb(0, 187, 255),
        30px 30px 20px rgb(148, 232, 221),
        30px -30px 0 rgb(0, 187, 255),
        30px -30px 20px rgb(148, 232, 221),
        -30px 30px 0 rgb(0, 187, 255),
        -30px 30px 20px rgb(148, 232, 221);
        animation: animate 5s linear infinite;
        animation-delay: calc(0.5*var(---i));
        transform-origin: 100%;
    }
    @keyframes animate{
        0%{
            transform: 50deg;
            filter:hue-rotate(50deg) ;
        }
        100%{
         transform:rotate(7200deg);
         filter:hue-rotate(7200deg);
    
        }
    }